body {
    text-align: center;
    font-family: Arial;
    background: black;
    color: white;
}

.game-area {
    width: 800px;
    height: 300px;
    margin: auto;
    background: url('images/road.jpg') no-repeat center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    border: 3px solid white;
}

.bike {
    width: 150px;
    position: absolute;
    bottom: 20px;
    left: 0;
}
